*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.heading{
    min-width: 100vw;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    border-bottom: 4px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 50px;
}

.wrapper{
    justify-items: center;
    margin-top: 20px;
}


.inputField {
    width: 250px;
    height: 36px;
    margin: 20px 0px;
    font-size: 24px;
}

.inputField::placeholder{
    font-size: 24px;
}

.btn{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.start {
    background-color: aqua;
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid;
    cursor: pointer;
}

.start:disabled{
    cursor: not-allowed;
}

.submit {
    background-color: aqua;
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid;
    cursor: pointer;
}

.hint {
    text-align: center;
    margin-top: 25px;
}

.guesses {
    text-align: center;
    margin-top: 15px;
}
